#page-school{
    display: flex;
    min-height:100vh;
}

aside.sidebar{
    position: fixed;
    height: 100%;
    padding: 32px 0px;
    background:url("../images/free_class_bg-min.jpg") #930102;
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.with-sidebar{
    padding-left: 110px;
}

aside.sidebar footer button{
    width: 48px;
    height: 48px;
    border: none;
    background: black;
    border-radius: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

aside.sidebar footer button:hover{
    background-color: gold;
}

aside.sidebar footer button img{
    width: initial;
}

main{
    flex: 1;
}

/*details*/

#school-details{
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #D3E2E5;
    border-radius: 2rem;
    overflow: hidden;
}

/* Change the CSS of the first image*/
#school-details > img{
    width: 100%;
    height: 50rem;
    object-fit: cover;
}

.images{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.6rem;
    margin: 16px 40px 0px;

}

/*adjust of image inside of button*/
.images button{
    border: 0;
    background: none;
    height: 8.8rem;
    cursor: pointer;
    border-radius: 2rem;

    /*images' box transpass the button, so with this property we limited the image*/
    overflow: hidden;
    opacity: .8;
    transition: opacity .25s;
}

.images button:hover, .images button.active{
    opacity: 1;
}

.images button img{
    width: 100%;
    height: 8.8rem;
    object-fit: cover;
}

.school-details-content{
    padding: 8rem;
    color: black;
}

.school-details-content .title{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.school-details-content .title img{
    height: 10rem;
}

.school-details-content h1{
    color: gold;
    font-size: 5.4rem;
    line-height: 1.5;
    width: initial;
}

.school-details-content p{
    line-height: 1.5;
    margin-top: 2.4rem;
}

/* map*/

.map-container{
    margin-top: 6.4rem;
    background: #fff9b9;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 2rem;
}

#mapid{
    width: 100%;
    height: 28rem;
    z-index: 10;
}

.map-container footer{
    padding: 2rem 0;
    text-align: center;
}

.map-container footer a{
    color: black;
    text-decoration: none;
}

.map-container footer a:hover{
    color: #930102;
}

.map-container .leaflet-container{
    border-bottom: 1px solid white;
    border-radius: 2rem;
}

#school-details hr{
    width: 100%;
    height: 1px;
    border: none;
    background: #930102;
    margin: 6.4rem 0;
}

#school-details h2{
    font-size: 3.6rem;
    color: black;
    text-align: center;
}

#school-details p{
    line-height: 1.5;
    margin-top: 2.4rem;
    color: black;
    padding: 1rem;
}

.open-detail{
    margin-top: 2.4rem ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.open-detail img{
    display: block;
    margin-bottom: 2rem;
}

.open-detail div{
    padding: 3.2rem 2.4rem;

}

.open-detail .hour{
    background: black;
    border: 1px solid #e2dfb3;
    box-sizing: border-box;
    border-radius: 20px;
}

.open-detail .open-weekends{
    background: black;
    border: 1px solid #e2dfb3;
    box-sizing: border-box;
    border-radius: 20px;
}

.primary-button{
    margin-top: 6.4rem;
    width: 100%;
    height: 6.4rem;
    border: none;
    cursor: pointer;
    background: #930102;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}

.primary-button:hover{
    background: gold;
}

.primary-button img{
    margin: 1.6rem;
}